<!DOCTYPE html>
<html>
  <head>
    <title>{{ name }}</title>

    <meta charset='utf-8'>
    <meta name='description' content=''>
    <meta name='keywords' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover'>
    <meta property='og:url' content=''>
    <meta property='og:image' content='/og-image.png'>
    <meta property='og:title' content='{{ name }}')>
    <meta property='og:description' content=''>

    <link rel='shortcut icon' href='/favicon.png'>
    <link rel='manifest' href='/manifest.json'>

    <meta name='mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-title' content='{{ name }}'>

    <link href='/apple-touch-icon-180x180-precomposed.png' sizes='180x180' rel='apple-touch-icon'>
    <link href='/apple-touch-icon-152x152-precomposed.png' sizes='152x152' rel='apple-touch-icon'>
    <link href='/apple-touch-icon-144x144-precomposed.png' sizes='144x144' rel='apple-touch-icon'>
    <link href='/apple-touch-icon-120x120-precomposed.png' sizes='120x120' rel='apple-touch-icon'>
    <link href='/apple-touch-icon-114x114-precomposed.png' sizes='114x114' rel='apple-touch-icon'>
    <link href='/apple-touch-icon-76x76-precomposed.png' sizes='76x76' rel='apple-touch-icon'>
    <link href='/apple-touch-icon-72x72-precomposed.png' sizes='72x72' rel='apple-touch-icon'>
    <link href='/apple-touch-icon-60x60-precomposed.png' sizes='60x60' rel='apple-touch-icon'>
    <link href='/apple-touch-icon-57x57-precomposed.png' sizes='57x57' rel='apple-touch-icon'>
    <link href='/apple-touch-icon-precomposed.png' rel='apple-touch-icon'>

    <meta name='msapplication-config' content='/browserconfig.xml'>
    <meta name='application-name' content='{{ name }}'>
    <meta name='msapplication-tooltip' content='Get the latest updates!'>
    <meta name='msapplication-window' content='width=1024;height=768'>
    <meta name='msapplication-navbutton-color' content='#ff3300'>
    <meta name='msapplication-starturl' content='/'>

    <!-- Define font-faces here. Fonts should be in /static directory. -->
    <style>
    </style>
  </head>
  <body>
    <div id='app'></div>
  </body>
</html>
